.env
.env.*
.direnv
.idea
/backend/data
/backend/tmp
/bitmagnet
/bitmagnet.io/_site
/export.sql
dump.rdb
.jekyll-cache
.sass-cache

# Node
/frontend/node_modules
/frontend/.next
/frontend/out
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.sass-cache/
testem.log

# System files
.DS_Store
Thumbs.db

/frontend/tsconfig.tsbuildinfo

# docker
docker-compose.yml
